[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-dotenv = "*"
psycopg2-binary = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"

[scripts]
start = "python manage.py runserver"
migrate = "python manage.py migrate"

[dev-packages]

[requires]
python_version = "3.8"
